@mixin status-bar-button {
    display: block;
    align-self: end;
}

.status-bar
{
    padding: 1rem;
    background: black;
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    grid-template-columns: auto min-content min-content;
    grid-template-rows: auto;
    
    &.status-bar-left-side
    {
        
        &.status-bar-message
        {
            color: gray;
            grid-column: 0;
            align-self: stretch;
        }
    }

    &.status-bar-clear-button
    {
        @include status-bar-button;
        grid-column: 1;
    }

    &.status-bar-json-button
    {
        @include status-bar-button;
        grid-column: 2;
    }
}